

.section{
      display: flex;
      min-height: 100svh;
      width:100vw;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 3rem;
    
     padding-bottom: 3rem;
     
    
}



.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    width:80%;
    flex-direction: column;

}


@media(max-width:790px){

    .section{
        margin-top: 0;
        gap:2rem;
    }
    }
    
    