.blogPage{
    height:fit-content;
    width:100vw;
    background-image: url("/Rhys/lastFrame.png");
    padding-top: 190px;
}

.back{
    font-size: 1.2rem;
    cursor: pointer;
}

.prose{
    width: 90vw;
    max-width: 850px; 
    margin: 0 auto; 
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background:var(--background-gray);
    border-radius: 5px;
    /* border: 1px solid #a69c9c72; */

}

#blogTitle{
    font-size: 3rem;
}
.prose p {
  text-indent: 1.5rem;      /* indent first line */         /* spacing between paragraphs */
  line-height: 1.7; 
  margin-bottom: 1rem; 
  font-size: 1.2rem;        /* readability (optional) */
}

.prose header{

    text-align: center;
    margin: 0 auto;
}
.prose h1{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.prose h2{
    margin-bottom: 0.75rem;
}

@media(max-width:800px){
    .blogPage{
        padding-top: 130px;
    }
}