.table {
  width: 80%;
  border-collapse: collapse;
  max-width: 900px;
  margin-top: 5rem;
  color: #3d3d3d;


}

.table th, .table td {
  padding: 1rem;
  text-align: left;

}


.table th {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4rem;
  color: #3d3d3d;
}

.table tr:hover td {
  background: var(--hover); /* subtle hover highlight */
}

.tr{
  font-size: 1.2rem;
}



.btn:active,
.btn:hover,
.btn:focus {
  outline: 0 !important;
  outline-offset: 0;
}
.btn::before
.btn::after {
  position: absolute;
  content: "";
}

.btn {
  position: relative;
  display: inline-block;
  background: transparent;
  border: none;
  cursor: pointer;
  
}

.btn span {
  position: relative;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 15px 20px;
  color: rgb(9, 9, 9);
  border: 1px solid rgb(28, 31, 30);
  overflow: hidden;   /* keeps fill inside */
  z-index: 1;
}

/* Background fill lives on span */
.btn span::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  transition: top 0.3s ease-out;
  z-index: -1; /* behind text */
}

.btn:hover span::before {
  top: 0;
}

.btn:hover span {
  color: rgb(236, 236, 236);
}



@media (max-width: 900px) {

  .table{
    margin-top: 2rem;
    
  }
  .table,
  .thead,
  .tbody,
  .th,
  .td,
  .tr {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: none;
  }

  .td{
    font-size: 1.3rem;
  }

  .date{
    font-weight: bold;
  }

  
  .thead {
    display: none; /* hide headers */
  }

  .tr {
    margin-bottom: .5rem;
 
    border-radius: 8px;
   
  }

  .td {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
  }


}